div#content-root {
    width: 100%;
    display: table;
    border-bottom: 3px solid #111;
}

h1 {
    text-align: center;
    border-bottom: 3px solid #111;
    margin: 0;
    padding: 10px;
}

span#empty-label {
    width: 100%;
    display: block;
    text-align: center;
    font-style: oblique;
    font-size: xx-large;
    font-weight: normal;
    margin: 5% 0;
}

span#top-label {
    width: 100%;
    display: block;
    text-align: left;
    font-style: normal;
    font-size: x-large;
    font-weight: bold;
}

div#list-item {
    padding: 0 10px 10px 10px;
    border-bottom: 3px solid #111;
}

div#list-item:last-child {
    border: none;
}

div#list-item span.product-added {
    display: block;
    color: lightgreen;
    font-size: large;
}

div#list-item button {
    display: block;
    border: none;
    padding: 5px;
    background: inherit;
    color: white;
    font-style: oblique;
    font-size: large;
    font-weight: normal;
    cursor: pointer;
    background-color: blue;
    border-radius: 100px;
}

div#list-item button:hover {
    background-color: aqua;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #111;
}

tr {
    border-bottom: 2px solid #111;
    background-color: dimgray;
}

td, th {
    width: 100%;
    padding: 0;
    border-right: 2px solid #111;
}
