div#products-container {
    width: 85%;
    display: table-cell;
    box-sizing: border-box;
}

#products-container #action-buttons {
    width: 100%;
    display: block;
}

div#action-buttons button[type=submit], div#action-buttons a {
    color: white;
    font-style: oblique;
    font-size: large;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 100px;
}

div#action-buttons button[type=submit]#delete-product {
    width: 30%;
    margin: 0 5% 0 10%;
    display: inline-block;
    border: none;
    background-color: darkred;
}

div#action-buttons a#update-product {
    width: 30%;
    margin: 0 10% 0 5%;
    display: inline-block;
    background-color: darkgreen;
}

div#action-buttons button[type=submit]#delete-product:hover, div#action-buttons a#update-product:hover {
    background-color: aqua;
}
